[submodule "vendor/kokkos"]
	path = vendor/kokkos
	url = git@github.com:kokkos/kokkos.git
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = git@github.com:google/benchmark.git
[submodule "kokkos_game_of_life/vendor/kokkos"]
	path = kokkos_game_of_life/vendor/kokkos
	url = git@github.com:kokkos/kokkos.git
[submodule "tests/vendor/kokkos"]
	path = tests/vendor/kokkos
	url = git@github.com:kokkos/kokkos.git
